.tableSumBtn {
  display: flex;
  flex-direction: row;
}

.avg {
  display: flex;
  flex-direction: row;
  background-color: green;
  margin-right: 10px;
  margin-bottom: 10px;
}
.closeBtn {
  border: none;
}

.closeBtn:hover {
  background-color: red;
}

.avgBtn {
  display: flex;
  flex-direction: row;
  background-color: green;
  border: 2px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
}

.avgMain {
  display: flex;
  flex-direction: row;
}

.rowsTable {
  display: flex;
  flex-direction: row;
}

.rowsNum {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  cursor: pointer;
  /* border: 2px solid black; */
  margin-right: 10px;
  margin-bottom: 10px;
}

.backgroundRowsNum {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}

.spanNum {
  z-index: 2;
}

.sum {
  border: 2px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: green;
}

.mainTable {
  display: flex;
  flex-direction: column;
}

.sumsprava {
  display: flex;
  flex-direction: row;
}

.abv {
  display: flex;
  flex-direction: row;
}

.numeric {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
}

.oso {
  display: flex;
  flex-direction: row;
}
